<%= form_with(model: [:admin, @subcategory], local: true) do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>